* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 8px;
  text-align: center;
}

.attribution a {
  color: black;
}

body {
  background-color: rgb(241, 241, 241);
  height: 100vh;
}

.background {
  background-image: url(/images/background-picture.png);
  background-repeat: no-repeat;
  background-size: 100vh;
  width: 100vw;
  height: 45vh;
}

.faq {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 85%;
  background-color: #fff;
  border-radius: 15px;
}

.faq-title {
  padding: 30px 20px;
  font-family: "Work Sans", sans-serif;
  font-size: 40px;
}

.fa-star {
  margin-right: 30px;
  font-size: 40px;
}

.question {
  margin-bottom: 40px;
  background-color: #fff;
  border: none;
  width: 100%;
}

.question-section {
  width: 90%;
  height: 80%;
  margin: 0 auto;
}

.question-title {
  display: flex;
  justify-content: space-between;
}

.question-paragraph {
  margin-left: 10px;
  font-size: 12px;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
}

.fa-circle-minus {
  font-size: 25px;
  margin-top: 10px;
  padding-left: 40px;
  color: hsl(292, 42%, 14%);
}

.fa-circle-plus {
  font-size: 25px;
  color: hsl(292, 16%, 49%);
  padding-left: 40px;
}

.answer {
  margin: 15px 0 0 10px;
  padding-right: 5px;
  width: 90%;
  font-size: 13px;
  font-family: "Work Sans", sans-serif;
  color: #7d567e;
}

.active {
  display: block;
}

.remove {
  display: none;
}

@media only screen and (min-width: 375px) {
  .faq {
    height: 75%;
  }
  .question-paragraph {
    margin-left: 10px;
    font-size: 15px;
    font-family: "Work Sans", sans-serif;
    font-weight: bold;
  }
}
@media only screen and (min-width: 768px) {
  .faq {
    width: 55%;
    height: 70%;
  }
  .background {
    background-size: 100vw;
  }
}
@media only screen and (min-width: 1024px) {
  .faq {
    width: 45%;
    height: 75%;
  }
  .question-paragraph {
    font-size: 20px;
  }
  .fa-circle-minus {
    font-size: 30px;
    cursor: pointer;
  }
  .fa-circle-plus {
    font-size: 30px;
    transition: 0.1s linear;
    cursor: pointer;
  }
  .fa-circle-plus:hover {
    color: hsl(293, 16%, 32%);
  }
}
@media only screen and (min-width: 1440px) {
  .faq {
    height: 70%;
  }
  .question-paragraph {
    font-size: 25px;
  }
  .answer {
    font-size: 15px;
  }
  .fa-circle-minus {
    font-size: 35px;
  }
  .fa-circle-plus {
    font-size: 35px;
  }
}
@media only screen and (min-width: 2560px) {
  .faq-title {
    padding: 70px 50px;
    font-size: 80px;
  }
  .fa-star {
    font-size: 80px;
  }
  .question-paragraph {
    font-size: 45px;
  }
  .answer {
    font-size: 30px;
  }
  .fa-circle-minus {
    font-size: 70px;
  }
  .fa-circle-plus {
    font-size: 70px;
  }
}